header
{
	display:flex;
	justify-content: center;
}
#banner
{
	width:75%;
}
footer
{
	background-color: black;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;

}
body
{
	background-color: lightblue;
}
#Menu
{
	left: 25%;
	display:inline-flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	width: 75%
}
#test
{
	background-color: white;
}
#Img
{
	width: 50%;
	height: auto;
	display:flex;
	flex-direction: column;
}
#Lien
{
	width: :50%;
	height: 100%;
}
.im
{
	height:50%;
}
#rigth
{
	width: 100%;
}